<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<header style="box-shadow: 0 5px 5px 0px rgba(0,0,0,.3);background-color:white;" class="site-navbar js-sticky-header site-navbar-target text-white" role="banner">
    <div class="container-fluid ps-3 pe-3 navbar2">
        <div class="row align-items-center position-relative">
            <div class="site-logo m-md-0 p-md-0">
                <a style="padding:3px;" href="/" class="text-black d-none d-lg-block ms-2"><span class="text-primary"> <img style="width:45px" alt="" src="static/images/logo.png"></a>
            </div>
            <div class="col-12">
                <nav class="site-navigation site-navigation_2 text-end ms-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu w-100 js-clone-nav ms-auto p-0">
                        <li><a href="/" class="nav-link">Home</a></li>
                        <li><a href="academic_journal" class="nav-link">Academic Journal</a></li>
                        <li class="has-children">
                            <a href="#about-section" class="nav-link">Information</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="information" class="nav-link">For Authors</a></li>
                                <li><a href="information" class="nav-link">For Reviewers</a></li>
                                <li><a href="information" class="nav-link">For Editors</a></li>
                                <li><a href="information" class="nav-link">For Publishers</a></li>
                                <li><a href="information" class="nav-link">For Librarians</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="login" class="text-dark"><i style="color: black;" class="icon-user"></i> Login/Register</a>

                        </li>
                    </ul>
                </nav>
            </div>
            <div class="toggle-button d-inline d-lg-none"><a href="#" class="site-menu-toggle py-2 js-menu-toggle text-black"><span class="icon-menu h2"></span></a></div>
        </div>
    </div>
</header>